body {
    min-width: 320px;
    font-family: 'Open Sans - Semi Bold';
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    background-color: #ffffff;
}
h1 {
    font-family: 'Open Sans';
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 700;
    color: #5b6ceb;
    line-height: 45px;
    text-transform: uppercase;
    margin: 10px 0;
}
#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.container {
    display: flex;
    max-width: 1400px;
    padding: 0 115px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
}
#header {
    display: flex;
    justify-content: center;
}
#header .container {
    justify-content: space-between;
    align-items: stretch;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: row;
}
.container .logo {
    align-items: stretch;
    z-index: 0;
}
.main-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
#menu__toggle {
    opacity: 0;
    display: none;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5363db;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    background: #ffffff;
    top: 0;
    right: -100%;
    width: 50%;
    margin: 0;
    padding: 100px 0 20px 0;
    list-style: none;
    text-align: center;
    z-index: 2;
}
.menu__box li {
    position: relative;
}
.menu__item {
    display: block;
    color: #555555;
    text-decoration: none;
}
.menu__item:hover {
    color: #5363db;
}
.menu__item::before {
    content: '';
    width: 0;
    transition: width 1s;
}
.menu__item:hover::before {
    content: '';
    border-bottom: 1px solid #5363db;
    width: 25px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}
.main_form_container {
    width: 100%;
    background: url(../images/bg-01.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
}
.main_form_container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #5363db;
    opacity: 0.8;
}
#main .container {
    align-content: stretch;
    padding-top: 100px;
    padding-bottom: 100px;
}
.main_form_container .container {
    flex-direction: row;
}
.form_container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 45px;
    z-index: 1;
}
.form_container form {
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
}
.form_container h2 {
    font-family: 'Open Sans - Semi Bold';
    font-size: 26px;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    margin: 10px 0 30px;
}
.form_container input,
.chose_class {
    width: 100%;
    border: none;
    background: #f2f2f2;
    border-radius: 5px;
    padding: 17px 10px;
    margin-bottom: 17px;
    transition: all 1s;
    outline: none;
}
.form_container input:hover,
.chose_class:hover {
    background: #5b6ceb;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.form_container input:hover::placeholder,
.chose_class:hover {
    color: #ffffff;
}
.chose_class {
    color: #888888;
    padding: 16px 10px;
}
.form_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.form_btn button {
    padding: 16px 64px;
    margin: 13px 0 5px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    background: #5b6ceb;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: all 1s;
}
.form_btn button:hover {
    box-shadow: 0px 0px 15px 2px #5b6ceb;
    color: #5b6ceb;
    background: #ffffff;
}
.main_text {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 45px;
    color: #ffffff;
    z-index: 1;
}

.main_text span {
    font-family: 'Freestyle Script';
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}
.block_text {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.block_text span {
    font-family: 'Freestyle Script';
    font-size: 41px;
    font-weight: 400;
    line-height: 61.49px;
    color: #777777;
}
.main_block_card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 50px 0;
}
.column_card {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 25px;
}
.card {
    display: flex;
    width: calc(50% - 15px);
    flex-direction: row;
    align-items: stretch;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
.card_img {
    display: flex;
    width: 50%;
    padding-top: 56%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 15px;
}
.card_text h3 {
    color: #777777;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    transition: all 1s;
}
.card_text p {
    font-family: 'Open Sans';
    line-height: 22px;
}
.card_text a {
    color: #999999;
    line-height: 22px;
    text-decoration: none;
    transition: all 1s;
}
.card_text a:hover,
.card_text h3:hover {
    color: #5b6ceb;
    transform: scale(1.05);
}
.block_img {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.block_img > li {
    width: 25%;
}
.block_img a {
    display: block;
    position: relative;
    padding-top: 73%;
    background-size: cover;
    overflow: hidden;
}
.block_img a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #5b6ceb;
    opacity: 0.8;
}
.block_img a::after {
    content: '\e986';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    font-size: 28px;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #ffffff;
    color: #5b6ceb;
    line-height: 40px;
    opacity: 0;
    text-align: center;
}
.block_img a:hover::before {
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.block_img a:hover::after {
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: all 1s;
}
.main_about_us {
    display: flex;
    padding: 100px 0;
}
.about_us_text {
    width: 50%;
}
.about_us_text p {
    padding-right: 140px;
    line-height: 22px;
}
.main_slider {
    width: 50%;
    display: flex;
    align-items: center;
}
.single-item {
    width: calc(100% - 100px);
}
.single-item img {
    width: 100%;
}
#my-arrow-prev,
#my-arrow-next {
    display: flex;
    z-index: 1;
}
#my-arrow-prev {
    order: -1;
}
.main_slider span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5b6ceb;
    font-size: 30px;
    width: 50px;
    height: 50px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    position: relative;
}
.main_slider span:hover {
    background: #5b6ceb;
    color: #ffffff;
}
#my-arrow-prev span {
    left: 50%;
}
#my-arrow-next span {
    right: 50%;
}
.main_icon_container {
    width: 100%;
    height: 100%;
    background: url(../images/bg-02.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
}
.main_icon_container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #5363db;
    opacity: 0.8;
}
.main_icon_card {
    display: flex;
    max-width: 1400px;
    padding: 100px 115px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}
.icon_card {
    width: calc(25% - 34px);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    margin: 15px 17px;
}
.icon_card ul {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    list-style: none;
    color: #ffffff;
    font-family: 'Open Sans';
    line-height: 27px;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.icon_card li {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.icon {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_card span {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.icon_card p {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.main_price_container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #ffffff;
}
.main_price_container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 100%;
    background-size: contain;
    transform: translate(-100%, -100%);
    background: url(../images/bg-03.jpg) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.box_price {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
    z-index: 1;
}
.price_card {
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
}
.price {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 10px;
    background: #5b6ceb;
    justify-content: center;
    align-content: stretch;
    border-radius: 20px 20px 0 0;
}
.price span {
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 67px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.price span:first-child {
    font-size: 32px;
    padding-right: 20px;
}
.price span:last-child {
    font-size: 18px;
    padding-top: 24px;
}
.price_info_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #555555;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding: 50px 10px;
    align-items: center;
}
.price_info {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.price_info hr {
    width: 50%;
    margin: 0;
    margin: 20px auto;
}
.price_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.price_btn a {
    background: #5b6ceb;
    padding: 16px 50px;
    color: #ffffff;
    font-family: 'Open Sans - Semi Bold';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 25px;
    text-decoration: none;
    transition: all 1s;
}
.price_btn a:hover {
    box-shadow: 0px 0px 15px 2px #5b6ceb;
    color: #5b6ceb;
    background: #ffffff;
}
#footer {
    background-color: #5b6ceb;
}
#footer .container {
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    background-color: #5b6ceb;
    font-family: 'Open Sans';
    line-height: 22px;
    align-items: stretch;
    color: #ffffff;
}
#footer ul {
    list-style: none;
    margin: 0;
}
.footer_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer_contact {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer_text > span,
.footer_contact > span {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer_text p {
    padding-right: 140px;
    margin: 60px 0;
}
.footer_contact li {
    display: flex;
    flex-direction: row;
}
.footer_contact a {
    text-decoration: none;
    color: #ffffff;
}
.footer_contact a:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: gold;
}
.contact_block1,
.contact_block2 {
    display: flex;
    width: 50%;
    align-items: stretch;
}
.contact_block2 {
    justify-content: flex-end;
}
.contact_block1 ul,
.contact_block2 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
}
.contact_block1 li,
.contact_block2 li {
    padding-bottom: 30px;
}
.contact_block1 li::before,
.contact_block2 li:before {
    content: '';
    font-family: 'icomoon';
    padding-right: 20px;
    font-size: 21px;
    color: #ffffff;
}
.contact_block1 li:first-child::before {
    content: '\e948';
}
.contact_block1 li:last-child::before {
    content: '\e942';
}
.contact_block2 li:first-child::before {
    content: '\e945';
}
.contact_block2 li:last-child::before {
    content: '\e9ca';
}
.contact_tel {
    display: flex;
    flex-direction: column;
}
.footer_date {
    background-color: #5363d8;
    display: flex;
    justify-content: center;
}
.footer_date span {
    color: #b7bffc;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 40px 0;
}
.contact_icon {
    width: 100%;
}
.contact_icon ul {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.contact_icon a {
    margin-right: 20px;
    font-size: 21px;
    text-decoration: none;
    color: #ffffff;
}
.contact_icon a:hover {
    color: gold;
}
@media (max-width: 1399px) {
    .container {
        padding: 20px 15px;
    }
    .about_us_text p {
        padding-right: 80px;
    }
    .main_icon_card {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: 991px) {
    h1 {
        font-size: 35px;
    }
    .main_text span {
        padding-bottom: 20px;
        font-size: 30px;
    }
    .main_block_card {
        padding: 70px 0;
    }
    .main_about_us {
        padding: 58px 0;
    }
    #main .main_price_container .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .price_card {
        width: calc(50% - 30px);
        margin: 10px auto;
    }
    #footer .container {
        flex-direction: column;
    }
    .footer_text > span,
    .footer_contact > span {
        margin-bottom: 50px;
    }
    .footer_text {
        width: 100%;
    }
    .footer_text p {
        padding: 0;
        margin: 10px 0;
    }
    .footer_contact {
        width: 80%;
    }
    .contact_icon {
        padding: 0;
    }
}
@media (min-width: 768px) {
    .menu__box {
        display: flex;
        position: relative;
        visibility: visible;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: flex-end;
        align-items: center;
        z-index: 0;
    }
    .menu__box li {
        margin-left: 30px;
        position: relative;
    }
    .menu__btn {
        display: none;
    }
}
@media (max-width: 767px) {
    .container .logo {
        z-index: 3;
    }
    .menu__box {
        width: 100%;
    }
    .menu__item:hover::before {
        bottom: 5px;
    }
    .menu__box li {
        padding: 10px 0;
    }
    .main_form_container .container {
        flex-direction: column;
        padding: 40px 15px;
    }
    .form_container {
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    .main_text {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
    .block_img > li {
        width: 50%;
    }
    .main_block_card {
        padding: 0;
    }
    .card {
        flex-direction: column;
    }
    .card_img {
        width: 100%;
        padding-top: 100%;
    }
    .card_text {
        width: 100%;
    }
    .main_about_us {
        flex-direction: column;
        padding: 0;
    }
    .main_slider {
        width: 100%;
    }
    .about_us_text {
        width: 100%;
    }
    .about_us_text p {
        padding: 0 0 25px;
    }
    .main_icon_card {
        padding: 20px 15px;
    }
    .icon_card {
        width: calc(50% - 34px);
    }
    .price_card {
        width: 70%;
        margin: 30px auto;
    }
}
@media (max-width: 569px) {
    h1 {
        line-height: inherit;
    }
    h2 {
        font-size: 25px;
    }
    #main .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main_text {
        margin-top: 40px;
    }
    .card_text h3 {
        line-height: inherit;
    }
    .column_card {
        flex-direction: column;
        margin-bottom: 0;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .main_about_us {
        padding: 10px 0;
    }
    .single-item {
        width: calc(100% - 50px);
    }
    .main_slider span {
        width: 30px;
        height: 30px;
    }
    .icon_card {
        width: 100%;
    }
    .price_card {
        width: 100%;
        margin: 30px 0;
    }
    .contact_block2 {
        justify-content: flex-start;
    }
    .footer_contact {
        flex-direction: column;
        width: 100%;
    }
}
