body {
    min-width: 320px;
    font-family: "Open Sans - Semi Bold";
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}
h1 {
    font-family: "Open Sans";
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    color: #5b6ceb;
    line-height: 45px;
    text-transform: uppercase;
    margin: 25px 0;
}
#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.container {
    display: flex;
    max-width: 1400px;
    padding: 0 115px;
    margin: 0 auto;
    width: 100%;
}
#header {
    display: flex;
    justify-content: center;
}
#header .container {
    justify-content: space-between;
    align-items: stretch;
    background: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container .logo {
    align-items: stretch;
    z-index: 0;
}
.main-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
#menu__toggle {
    opacity: 0;
    display: none;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5363db;
}
.menu__btn > span::before {
    content: "";
    top: -8px;
}
.menu__btn > span::after {
    content: "";
    top: 8px;
}
.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    background: #ffffff;
    top: 0;
    right: -100%;
    width: 50%;
    margin: 0;
    padding: 100px 0 20px 0;
    list-style: none;
    text-align: center;
    z-index: 2;
}
.menu__box li {
    position: relative;
}
.menu__item {
    display: block;
    color: #555555;
    text-decoration: none;
}
.menu__item:hover {
    color: #5363db;
}
.menu__item::before {
    content: "";
    width: 0;
    transition: width 1s;
}
.menu__item:hover::before {
    content: "";
    border-bottom: 1px solid #5363db;
    width: 25px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}
.main_form_container {
    width: 100%;
    padding: 100px 40px;
    background: url(../images/bg-01.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
}
.main_form_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #5363db;
    opacity: 0.8;
}
.form_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 45px;
    z-index: 1;
}
.form_container form {
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
}
.form_container h2 {
    font-family: "Open Sans - Semi Bold";
    font-size: 26px;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    margin: 10px 0 30px;
}
.form_container input,
.chose_class {
    width: 100%;
    border: none;
    background: #f2f2f2;
    border-radius: 5px;
    padding: 17px 10px;
    margin-bottom: 17px;
    outline: none;
}
.form_container input:hover,
.chose_class:hover {
    outline: 1px outset #5b6ceb;
}
.chose_class {
    color: #888888;
    padding: 16px 10px;
}
.form_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.form_btn button {
    padding: 16px 64px;
    margin: 13px 0 5px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    background: #5b6ceb;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.form_btn button:hover {
    background: #475bf1;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
    outline: none;
}
.main_text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 45px;
    color: #ffffff;
    z-index: 1;
}

.main_text span {
    font-family: "Freestyle Script";
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}
#main .container {
    align-content: stretch;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}
.block_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 75px;
}
.block_text span {
    font-family: "Freestyle Script";
    font-size: 41px;
    font-weight: 400;
    line-height: 61.49px;
    color: #777777;
}
.main_block_card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding-bottom: 90px;
}
.column_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-bottom: 25px;
}
.card_1,
.card_2 {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: stretch;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
.card_1 {
    margin-right: 15px;
}
.card_2 {
    margin-left: 15px;
}
.card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
.card_text h3 {
    color: #777777;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}
.card_text a {
    color: #999999;
    line-height: 22px;
    text-decoration: none;
}
.block_img {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.block_img > li {
    width: 25%;
}
.block_img a {
    display: block;
    position: relative;
    padding-top: 75%;
    background-size: cover;
    overflow: hidden;
}
.block_img a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #5b6ceb;
    opacity: 0.8;
}
.block_img a::after {
    content: "\e986";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "icomoon";
    font-size: 20px;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #ffffff;
    color: #5b6ceb;
    line-height: 40px;
    opacity: 0;
    text-align: center;
}
.block_img a:hover::before {
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.block_img a:hover::after {
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: all 1s;
}
@media (max-width: 1399px) {
    .container {
        padding: 20px 15px;
    }
}
@media (min-width: 768px) {
    .menu__box {
        display: flex;
        position: relative;
        visibility: visible;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        justify-content: flex-end;
        align-items: center;
        z-index: 0;
    }
    .menu__box li {
        margin-left: 30px;
        position: relative;
    }
    .menu__btn {
        display: none;
    }
}
@media (max-width: 767px) {
    .container .logo {
        z-index: 3;
    }
    .menu__box {
        width: 100%;
    }
    .menu__item:hover::before {
        bottom: 5px;
    }
    .menu__box li {
        padding: 10px 0;
    }
    .main_form_container {
        flex-direction: column;
        padding: 40px 15px;
    }
    .form_container {
        justify-content: center;
        padding: 0;
    }
    .main_text {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .main_text span {
        padding-bottom: 40px;
    }
    .block_img > li {
        width: 50%;
    }
    .card_1,
    .card_2 {
        flex-direction: column;
    }
}
@media (max-width: 569px) {
    .column_card {
        flex-direction: column;
    }
    .card_1,
    .card_2 {
        width: 100%;
    }
}
